

<h2 class="message">
  {{currentQuestion?.name}}
</h2>

<div class="action">
  <button mat-raised-button (click)="beginTest()" [disabled]="isBegin" color="accent">开始考试</button>
  
</div>

<div class="light">
  <mat-button-toggle-group [(ngModel)]="lightVal" (change)="onChangeLight()">
    <mat-button-toggle [value]="0">关</mat-button-toggle>
    <mat-button-toggle [value]="1">示廓灯</mat-button-toggle>
    <mat-button-toggle [value]="2">开</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-slide-toggle [(ngModel)]="dangerLightValue" (change)="onChangeDanger()">危险报警灯</mat-slide-toggle>
</div>

<div class="light-type">
  <mat-button-toggle-group [vertical]="true" [(ngModel)]="lightType" (change)="onChangeType()">
    <mat-button-toggle [value]="0">远光灯</mat-button-toggle>
    <mat-button-toggle [value]="1">近光灯</mat-button-toggle>
  </mat-button-toggle-group>
  <button mat-raised-button (click)="onBlink()" [disabled]="blinkDisable">交替远近光灯</button>
</div>

<div class="next">
  <button mat-raised-button (click)="nextQuestion()" [disabled]="isDisabled" color="accent">下一题</button>
</div>